<!DOCTYPE html>
<html lang="en">
 <head>
   <meta charset="utf-8">
   <meta name"viewport" content="width=device-width, initial-scale=1">

   <title>Categorize It!</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles/styles.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>

    <script src="scripts/app.js"></script>
 </head>

 <body>
   <div class="page-header">
     <h1>Categorize It !  <small>  Organize App API</small></h1>
   </div>
   <section id='item-form' class="container">
     <div class="row">
     <div class="col-md-10 col-md-offset-1">
       <form class="form-horizontal">
         <fieldset>
           <legend>Add New Item</legend>
           <div class="form-group">
             <label class="col-md-4 control-label" for="description">Description</label>
             <div class="col-md-4">
             <input id="descriptionHash" name="description" type="text" placeholder="i.e. My Lucky Red Hat" class="form-control input-md" required="">
             </div>
           </div>
           <div class="form-group">
             <label class="col-md-4 control-label" for="condition">Condition</label>
             <div class="col-md-4">
             <input id="conditionHash" name="condition" type="text" placeholder="i.e. used" class="form-control input-md">
             </div>
           </div>
           <div class="form-group">
             <label class="col-md-4 control-label" for="importance_level">Importance Level</label>
             <div class="col-md-4">
             <input id="importanceLevelHash" name="importance_level" type="text" placeholder="enter a number from 1 - 10" class="form-control input-md">
             </div>
           </div>
           <div class="form-group">
             <label class="col-md-4 control-label" for="category">Category</label>
             <div class="col-md-4">
              <textarea class="form-control" id="categoryHash" name="category">enter a category</textarea>
             </div>
           </div>
           <div class="form-group">
             <label class="col-md-4 control-label" for="singlebutton">Save Item</label>
             <div class="col-md-4">
               <button id="singlebutton" name="singlebutton" class="btn btn-primary">Submit</button>
             </div>
           </div>
         </fieldset>
       </form>
     </div>
     </div>
   </section>
   <section class="container">
     <div class="row">
       <div class="col-md-10 col-md-offset-1">
         <h2>List Of Items</h2>
       </div>
     </div>
      <div id='items'>
        <script id='item-template' type='text/x-handlebars-template'>
          <div class="row item" data-item-id="{{_id}}">
            <div class="col-md-10 col-md-offset-1">
              <div class="panel panel-defualt">
                <div class="panel-body">
                  <div class="col-md-10 col-md-offset-1">
                    <ul class="list-group">
                      <li class="list-group-item">
                        <h4 class='inline-header'>Item Description:</h4>
                        <span class='item-description'>{{description}}</span>
                      </li>
                      <li class="list-group-item">
                        <h4 class='inline-header'>Item Condition:</h4>
                        <span class='item-condition'>{{condition}}</span>
                      </li>
                      <li class="list-group-item">
                        <h4 class='inline-header'>Item's Importance:</h4>
                        <span class='item-importance'>{{importance_level}}</span>
                      </li>
                      <li class="list-group-item">
                        <h4 class='inline-header'>Item category:</h4>
                        <span class='item-category'>{{category.category}}</span>
                      </li>
                    </ul>
                  </div>
                 <div class='panel-footer'>
                   <div class='panel-footer'>
                     <button class='btn btn-primary update-item'>Update Item</button>
                     <button class='btn btn-danger delete-item'>Delete Item</button>
                   </div>
                 </div>
                </div>
              </div>
            </div>
          </div>
        </script>
      </div>
   </section>
   <div class="modal fade" tabindex="-1" role="dialog" id="itemModal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Edit Item</h4>
          </div>
          <div class="modal-body">
          <form class="formModal form-horizontal">
           <fieldset>
           <div class="form-group">
             <label class="col-md-4 control-label" for="description">Description</label>
             <div class="col-md-4">
             <input id="description" name="description" type="text" placeholder="i.e. My Lucky Red Hat" class="form-control input-md" required="">
             </div>
           </div>
           <div class="form-group">
             <label class="col-md-4 control-label" for="condition">Condition</label>
             <div class="col-md-4">
             <input id="condition" name="condition" type="text" placeholder="i.e. used" class="form-control input-md">
             </div>
           </div>
           <div class="form-group">
             <label class="col-md-4 control-label" for="importance_level">Importance Level</label>
             <div class="col-md-4">
             <input id="importance_level" name="importance_level" type="text" placeholder="enter a number from 1 - 10" class="form-control input-md">
             </div>
           </div>
           <div class="form-group">
             <label class="col-md-4 control-label" for="category">Category</label>
             <div class="col-md-4">
               <textarea class="form-control" id="category" name="category">enter a category</textarea>
             </div>
           </div>
         </fieldset>
        </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" id="saveModal">Save changes</button>
        </div>
       </div>
      </div>
     </div>
 </body>
</html>
